@charset "utf-8";
.container{
	width:100%
}
.menuTitle_active{
	height:40px;
	line-height:40px;
	background:#27A9E3 url(../images/menu-active.png) no-repeat right center !important;
	border-bottom:1px solid #27A9E3;
	border-top:1px solid #27A9E3;
	border-top:1px solid #37414B;
	border-bottom:1px solid #1F262D;
	color:#FFF
}
#blanc_red .menuTitle_active {	
	background:#dd1515 url(../images/menu-active.png) no-repeat right center !important;
	border-bottom: 1px solid #dd1515;
	border-top: 1px solid #dd1515;
	border-top: 1px solid #dd1515;
	border-bottom: 1px solid #671612;	
}
.container div[class^="menuTitle"] {
    font-size: 15px;
}
.menuTitle_active a{
	color:#fffcb4
}
.menuTitle{
	width:220px;
	height:40px;
	background:#2e3740;
	line-height:40px;
	font-weight:bold;
	color:#fffcb4;
	cursor:pointer;
	border-bottom:1px #0FF solid;
	border-top:1px solid #37414B;
	border-bottom:1px solid #1F262D
}
#blanc_red .menuTitle {	
	background:#9b0e05;	
	border-bottom:1px #870c04 solid;
	border-top: 1px solid #af3e37;
	border-bottom: 1px solid #870c04;
}
.menuTitle.curr{
	height:40px;
	line-height:40px;
	background:#27A9E3 url(../images/menu-active.png) no-repeat right center !important;
	border-bottom:1px solid #27A9E3;
	border-top:1px solid #27A9E3;
	border-top:1px solid #37414B;
	border-bottom:1px solid #1F262D;
	color:#FFF
}
#blanc_red .menuTitle.curr {	
	background:#dd1515 url(../images/menu-active.png) no-repeat right center !important;
	border-bottom: 1px solid #dd1515;
	border-top: 1px solid #dd1515;
	border-top: 1px solid #dd1515;
	border-bottom: 1px solid #671612;	
}
.menuTitle a{
	color:#fffcb4
}
.activeTitle{
	width:220px;
	height:35px;
	line-height:35px;
	background-image:#000;
	margin:0 auto;
	color:#fff;
	cursor:pointer
}
.menuContent{
	background-color:#1e242b;
	margin:0 auto;
	height:auto;
	width:220px;
	text-align:left;
	display:none;
	font-size:14px
}
#blanc_red .menuContent {
	background-color:#811b16;
}
.menuContent a{
	color:#CCC
}
#blanc_red .menuContent a {
	color:#fff;
}
#blanc_red .menuContent a:hover {
	color:#000;
}
.menuContent li.curr{
	background-color:#28b779;
	height:20px;
}
#blanc_red .menuContent li.curr{
	background-color:#f7b431;	
}
.container ul li{	
	list-style-type:none;
	padding:2px 0px 2px 28px;
	height:20px;
	line-height:20px
}
.container ul{
	margin:0;
	padding:0
}


#blanc_blue .bankico{
	border:1px solid #ccc;
	float:left;
	margin-left:5px
}

#blanc_blue .bank_font_ts{
	color:red;
	margin-left:100px
}
#blanc_blue .hr_khh{
	color:#666;
	text-decoration:underline;
	cursor:pointer
}
#up #table3 {
    clear: none!important;
    margin-top: 50px;
}

