Admin/Conf/*
!Admin/Conf/lang.php
Admin/Runtime/*

ThinkPHP/Conf/*
!ThinkPHP/Conf/langset.php
!ThinkPHP/Conf/langTrans.php
ThinkPHP/config/config.php

DmsAdmin/config.xml
DmsAdmin/PrizeData/*
!DmsAdmin/Conf/*
DmsAdmin/Runtime/*
DmsAdmin/Lang/*

Install/Conf/*
Install/Runtime/*

public_html/dbbackup/*