Admin/Conf/*
Admin/Runtime/*

ThinkPHP/Conf/*
ThinkPHP/config/config.php

DmsAdmin/config.xml
DmsAdmin/PrizeData/*
DmsAdmin/Conf/*
DmsAdmin/Runtime/*

Install/Conf/*
Install/Runtime/*

public_html/dbbackup/*