/*2014-11-07*/
* {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    color: #000;
    text-decoration: none;
}
html {
    background: #424b53;
}
body {
    width: 100%;
    min-width: 1024px;
    font-family: 微软雅黑;
    font-size: 14px;
    background: url(../images/bg.png);
}
.center {
    margin: 0 auto;
    width: 1200px;
}

/*header*/
.header {
    width: 100%;
    height: 200px;
    background: #424b53
}
.header-top {
    height: 145px;
}
.logo {
    display: inline-block;
    margin-top: 50px;
    color: #fff;
    font-size: 40px;
    font-family: SimHei;
}
.tips {
    margin-top: 30px;
    color: #fff;
    font-size: 13px;
    float: right;
}
.tips span {
    margin-left: 15px;
}
.tips span a {
    color: #fff;
}
.header-nav {
    height: 55px;
    text-align: center;
    background: url(../images/nav-bg.png) repeat-x;
}
.header-nav .top-nav {
    width: auto;
    display: inline-block; 
    *display: inline;
    *zoom: 1;
}
.top-nav .navlist {
    width: 120px;
    height: 55px;
    line-height: 55px;
    float: left;
}
.top-nav .selected,.top-nav .navlist:hover {
    height: 53px;
    line-height: 50px;
    background: #27323c;
    border-top: 2px solid #f35628;
}
.top-nav .navlist a {
    width: 120px;
    height: 55px;
    display: block;
    color: #fff;
    font-size: 18px;
}
.top-nav .navlist:hover a {
    color: #f56531;
}

/*content*/
.content {
}
.navlist {
    cursor: pointer;
}

.left-nav {
    margin-bottom: 20px;
    width: 240px;
    background: #5d6d79;
    border-radius: 10px;
    float: left;
}
.left-nav .navlist {
    line-height: 50px;
    text-indent: 20px;
    border-top: 1px solid #46545f;
    border-bottom: 1px solid #66747f;
}
.left-nav .navlist .key {
    display: block;
    width: 100%;
    height: 50px;
    font-size: 16px;
    color: #cbd4db;
}
.left-nav .icon {
    font-size: 20px;
    margin-right: 15px;
}
.left-nav .arrow1 {
    margin-left: -10px;
    display: inline-block;
}
.left-nav .arrow2 {
    display: none;
}
.left-nav .navlist1 {
    border-top: none;
}
.left-nav .navlist8 {
    border-bottom: none;
}
.navul {
    display: none;
    background: url(../images/navul-bg.png);
}
.navul li {
    border-bottom: 1px solid #d3663e;
}
.navul li a {
    display: block;
    width: 100%
    height: 50px;
    font-size: 16px;
    text-indent: 55px;
    color: #dba794;
}
.navul li a:hover {
    color: #fff;
}
.left-nav .selected .navul {
    display: block;
}
    /*section*/
.section {
    margin-top: 20px;
    margin-left: 260px;
    margin-bottom: 30px;
    width: 940px;
    *width: 920px;
    min-height: 395px;
    background: #fff;
    border: 10px solid #5f6f7b;
    border-radius: 10px;
    color: #515567;
}
.section a {
    color: #515567;
}
.basic-table,.notice-tb {
    margin: 20px 40px;
    width: 859px;
}
.basic-table tr th {
    height: 40px;
    font-size: 16px;
    text-align: left;
    border-left: none;
    border-bottom: 1px solid #ebebeb;
}
.basic-table tr td {
    border-left: 1px solid #ebebeb;
}
.basic-table ul li {
    display: inline;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #777;
    border-right: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    float: left;
}
.baskey {
    width: 150px;
    font-weight: bold;
    text-align: right;
}
.basval {
    text-indent: 40px;
    width: 277px;
}
.notice-tb td,.th {
    height: 40px;
}
.notice-tb .th {
    text-align: left;
    font-size: 16px;
    position: relative;
}
.notice-tb .more {
    display: inline-block;
    color: #727684;
    font-weight: normal;
    position: absolute;
    right: 0;
}
.notice-tb td {
    border: 1px solid #ebebeb;
}
.notice-tb .tdtit {
    text-indent: 10px;
    border-right: none;
}
.notice-tb .tdtit a:hover {
    color: #f25b46;
}
.notice-tb .tddate {
    width: 90px;
    border-left: none;
}
/*footer*/
.footer {
    padding: 40px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    background: #424b53;
}
