input, select, textarea {
    margin: 0;
    padding: 0;
    border: 1px solid #ebebeb;
}
input[type="text"],
input[type="password"] {
    height: 30px;
    text-indent: 5px;
    color: #666;
    box-shadow: 0 5px 5px 5px rgba(200, 200, 200, .1) inset;
}
select {
    min-width: 80px;
    height: 30px;
    color: #666;
    box-shadow: 0 5px 5px 5px rgba(200, 200, 200, .1) inset;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}
table {
    border-spacing: 0px;
    border-collapse: collapse;
}
td, th {
    border: 0;
}
/*main title con page*/
.main-bottom>.core_main>.core_con {
    overflow: auto;
}
.core_main {
    width: 100%;
}
.core_title {
    border: 1px solid #ebebeb;
}
.core_con {
    margin-top: 10px;
    padding: 20px;
    background: #fff;
    border: 1px solid #ebebeb;
    overflow: auto;
}
.core_page {
    padding: 0 12px 15px;
    text-align: right;
    color: #999;
    border: 1px solid #ebebeb;
    border-top: 0;
    background: #fff;
    margin-top: -1px;
    width: auto;
}
.core_title_con {
    display: block;
    padding-right: 15px;
    height: 42px;
    line-height: 42px;
    text-align: right;
    font-size: 12px;
    color: #000;
}
.core_title_edit a {
}
.core_page a {
    color: #006dcc;
}

/* tablebg #table1 #table2 #table3 #table4*/
.tablebg {
    color: #666;
    width: 100%;
    border: 1px solid #d7efff;
}
.tablebg a {
    color: #006dcc;
}
.tablebg tr:nth-child(2n) {
    background: #f5fbff;
}
.tablebg td, .tablebg th {
    height: 42px;
    font-size: 14px;
    text-align: center;
    text-indent: 5px;
    border: 1px solid #d7efff;
}
.tablebg th {
    font-weight: bold;
}
.tablebg .tbkey {
    width: 20%;
    color: #1370c4;
    text-align: center;
    border-right: none;
}
.tablebg .tbval {
    text-indent: 1em;
    text-align: left;
    border-left: 1px dashed #84bbf3;
}
.tablebg tr.datafield {
    background: url(../img/datafield.png) repeat-x 0 0;
}
.tablebg .datafield td, .tablebg .datafield th {
    color: #666;
    font-weight: bold;
    text-align: center;
    color: #fff;
    border: none;
    background: url(../img/datafield-b.png) no-repeat 0 7px;
}
.tablebg .datafield td:first-child, .tablebg .datafield th:first-child {
    background: none;
}
.tablebg .datalist td {
}
.backbtn {
    clear: both;
    height: 26px;
    text-align: center;
    margin-top: 5px;
}
.button_text {
    font-weight: bold;
    font-size: 9pt;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    width: auto;
    background: #006dcc;
    border: solid 1px #0062b8;
    padding: 5px 8px;
    color: #fff;
}
.msg {
    color: red;
    padding-left: 3px;
}
#bank, #country_id, #province_id, #city_id, #county_id {
    width: 100px;
}
#state_shop, #state_net_11, #state_net_4, #state_net_5, #state_net_5_Region, #state_country, #state_province, #state_city, #state_county {
    color: red;
}
.address input {
    width: 200px;
}
/*所有page中form#form的元素样式*/
form#form select, form#form input, form#form textarea {
    border: 1px solid #ebebeb;
    margin-bottom: 0;
}
form#form select {
    margin-left: 0;
}

/*Public/success*/
.Public#success .core_con {
    background: none;
    border: 0;
}
/*.PrizeSplit#index*/
.PrizeSplit#index .pageWidth {
    background-image: none;
    margin: 0px auto;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    height: auto;
    width: 100%;
}
.PrizeSplit#index #box_root {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}
.PrizeSplit#index .cont {
    overflow: auto;
}
.PrizeSplit#index .mbx {
    width: 100%;
    height: 48px;
    border-bottom: 1px solid #e6e6e6;
}
.PrizeSplit#index .mbx p {
    line-height: 47px;
    font-size: 14px;
    text-align: center;
    border-bottom: 1px solid #fff;
}
.PrizeSplit#index .mbx span {
    color: #fff;
    padding: 0px 6px;
    background: #18a32a;
    border-radius: 2px;
    -o-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    margin: 0 10px;
}
.PrizeSplit#index .mbx a {
    color: #18a32a;
    text-decoration: underline;
}
.PrizeSplit#index .cont_detail {
    width: 100%;
    margin: 0 auto;
}
.PrizeSplit#index .detail_first, .detail_second {
    width: 100%;
    overflow: auto;
    padding: 10px 0;
    margin: 0 auto;
}
.PrizeSplit#index .detail_first ul, .detail_second ul {
    margin: 0 auto;
    text-align: center;
}
.PrizeSplit#index .detail_first ul {
    width: 760px;
    margin: 0 auto;
}
.PrizeSplit#index .detail_second ul {
    width: 800px;
    margin: 0 auto;
}
.PrizeSplit#index .detail_first ul li, .PrizeSplit#index .detail_second ul li {
    width: 90px;
    background: #fff;
    float: left;
    box-shadow: 0 0 2px #8c8c8c;
    display: inline;
}
.PrizeSplit#index .detail_first ul li {
    margin: 0 4px;
}
.PrizeSplit#index .detail_second ul li {
    margin: 0 4px;
}
.PrizeSplit#index .detail_first ul li h4, .detail_second ul li h4 {
    font-size: 14px;
    color: #fff;
    width: 88px;
    height: 26px;
    line-height: 28px;
    text-align: center;
}
.PrizeSplit#index .detail_first ul li h4 {
    background: #1bbb30;
    border: 1px solid #148b24;
}
.PrizeSplit#index .detail_second ul li h4 {
    background: #e0232a;
    border: 1px solid #b41d22;
}
.PrizeSplit#index .detail_first ul li table, .PrizeSplit#index .detail_second ul li table {
    width: 90px;
    border-left: 1px solid #a8a8a8;
    border-right: 1px solid #a8a8a8;
    border-bottom: 1px solid #a8a8a8;
}
.PrizeSplit#index .detail_first ul li table td, .PrizeSplit#index .detail_second ul li table td {
    width: 100%;
    font-size: 12px;
    color: #545454px;
    text-align: center;
    line-height: 28px;
}
/*Tle#prizeForm*/
.Tle#prizeForm .core_con {
}
#prizeForm .tablebg .datafield .source {
    width: 200px;
}
.Tle#prizeForm .tablebg .datafield .number {
    width: 100px;
}
.Tle#prizeForm .tablebg .datafield .calcul {
    width: 300px;
}
.Tle#prizeForm .tablebg .datafield .layers {
    width: 80px;
}
.Tle#prizeForm .tablebg .datafield .tights {
    width: 80px;
}
/*Fun_bank#rem*/
.Fun_bank#rem .core_con .add {
    padding: 10px 0;
    text-align: left;
    background-position: 90% 25%;
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
}
.Fun_bank#rem .core_con .add a {
    color: #275caa;
}
/*Fun_bank#add_rem*/
.Fun_bank#add_rem .core_con .tablebg .tbval #bank, .Fun_bank#add_rem .core_con .tablebg .tbval #bank_no {
    width: 200px;
}
.Fun_bank#add_rem .core_con .tablebg .tbval textarea {
    width: 320px;
    height: 90px;
}
/*Mail#send*/
.Mail#send {
}
.Mail#send .tablebg {
}
.Mail#send .tablebg tr,
#showNotice .tablebg tr,
.Mail#sendview .tablebg tr {
    background: none;
}
.Mail .core_con .tablebg .tbkey {
    vertical-align: top;
    line-height: 42px;
    text-align: right;
    color: #666;
    border: none;
}
.Mail#send .core_con .tablebg .tbval {
    line-height: 10px;
    border: none;
}
.Mail#send .core_con .tablebg .tbval #content_1 {
    margin: 15px 0;
    padding: 5px;
    width: 520px !important;
    height: 240px !important;
    box-shadow: 0 5px 5px 5px rgba(200, 200, 200, .1) inset;
}
/*Sale/usereg*/
.Sale#usereg #table3, .Sale#usereg #table3 td {
    border: 0;
}
/*up*/
.register-box form {
    margin: 0;
}
.register-box {
    margin-top: 10px;
    border: 1px solid #ebebeb;
}
.userup-info {
    height: 42px;
    border-bottom: 2px solid #1467bb;
}
.userup-info li {
    float: left;
    height: 42px;
    line-height: 42px;
    text-indent: 1em;
    font-size: 16px;
}
.userup-info li span {
    color: #1467bb;
}
.register-box .tablebg {
    border: #f6fbff;
}
.register-box .tablebg td {
    border: none;
}
.register-box .tablebg tr {
    background: none;
}
.register-box .tablebg .tbkey {
    width: 100px;
    color: #000;
    text-align: right;
}
.register-box #mobile {
    width: 200px;
}
.register-box #reciver {
    width: 100px;
}

.reg-address {
    padding-bottom: 10px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    background: #eff7ff;
}
.reg-address h1 {
    display: inline;
    font-size: 14px;
    font-weight: normal;
    cursor: pointer;
}
.reg-address span {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 15px;
    height: 15px;
}
.reg-address span.down {
    background: url(../img/down.png) no-repeat bottom right;
}
.reg-address span.up {
    background: url(../img/up.png) no-repeat bottom right;
}
#buy .core_con,
#usereg .core_con {
    padding: 0;
}

